<mat-toolbar class="toolbar">
    <span>Recipes</span>
    <span class="spacer"></span>

    @if(user.value.id==0) {
    <button routerLink="/signIn" class="button">
        <mat-icon class="icon">person</mat-icon>
        <span class="text"> sign In</span>
    </button>}

    @else {
    <button routerLink="/displayUsers" class="button">
        <mat-icon class="icon">person</mat-icon>
        <span class="text"> display Users</span>
    </button>

    <button routerLink="/graphs" class="button">
        <mat-icon class="icon">graphs</mat-icon>
        <span class="text2"> graphs</span>
    </button>}

</mat-toolbar>

<div class="outlet">
    <router-outlet></router-outlet>
</div>