<mat-toolbar class="toolbar">
    <span>Recipes</span>
    <span class="spacer"></span>

    @if(user.value.id==0) {
    <button routerLink="/signIn" class="button">
        <mat-icon class="icon">person</mat-icon>
        <span class="text"> sign In</span>
    </button>}

    @else {
    <button routerLink="/displayUsers" class="button">
        <mat-icon class="icon">person</mat-icon>
        <span class="text"> Display Users</span>
    </button>

    <button routerLink="/userReport" class="button">
        <mat-icon class="icon">Report</mat-icon>
        <span class="text"> Report</span>
    </button>

    <button routerLink="/clientReport" class="button">
        <mat-icon class="icon">Report</mat-icon>
        <span class="text"> Report2</span>
    </button>

    }

    <button routerLink="/" class="button">
        <mat-icon class="icon">home</mat-icon>
        <span class="text2">home</span>
    </button>

</mat-toolbar>

<div class="outlet">
    <router-outlet></router-outlet>
</div>