<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="graphs-container">
    <div class="title-container">
        <a href="javascript:history.back()" class="back-button">
            <svg xmlns="http://www.w3.org/2000/svg" (click)="goBack()" width="40" height="40" viewBox="0 0 24 24">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
            </svg>
        </a>

        <div class="title-div">
            <div class="section-divider">
                <div class="divider-line"></div>
                <div class="divider-space"></div>
                <h1 class="title">Analytics Dashboard</h1>
                <div class="divider-space"></div>
                <div class="divider-line"></div>
            </div>
        </div>
    </div>

    <div class="cards-container">
        @for(report of reports; track report.title) {
        <div class="card" (click)="navigateToReport(report.route)">
            <div class="card-icon-wrapper">
                @if(report.title.includes('User')) {
                <i class="fas fa-users card-icon"></i>
                } @else if(report.title.includes('Client')) {
                <i class="fas fa-utensils card-icon"></i>
                } @else {
                <i class="fas fa-comments card-icon"></i>
                }
            </div>
            <h2>{{ report.title }}</h2>
            <div class="card-overlay"></div>
            <p class="card-description">{{ report.description }}</p>
        </div>
        }
    </div>
</div>