.about-container {
    background-color: transparent;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.about-section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    opacity: 1; 
}

.about-section:hover {
    transform: scale(1.005);
    opacity: 0.8;
}

.about-section h2 {
    color: #ff9800;
    text-align: center;
}

.about-footer {
    text-align: center;
    margin-top: 30px;
    color: #ff9800;
}
