.comment-container {
    width: 90%;
    direction: rtl;
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 4vw !important;
}

.comment-header {
    display: flex;
    align-items: center;
}

.avatar {
    width: 4vw !important;
    height: 4vw !important;
    margin-left: 5vw;
    margin-right: 3vw;
}

.user-name {
    color: orange;
    font-size: 1.7em;
    font-weight: bold;
}

.comment-content {
    margin-right: 2vw;
    font-size: 1.4em;
    margin-top: 10px; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comment-date {
    margin-right: 2vw;
    margin-top: 5px;
    font-size: 1.2em;
    color: #ccc;
}

.comments-container {
    margin-top: 0;
    margin-bottom: 0;
    direction: rtl;
}

.comments-title {
    margin-top: 1%;
    margin-bottom: 0;
    color: white;
    font-size: 50px;
    margin-right: 5vw;
}

.commentEdit-input {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid gray;
    text-decoration: none;
    box-shadow: none;
    appearance: none;
}
