html, body {
    height: 100%;
    margin: 0;
}

.background-container {
    position: relative;
    overflow: hidden;
    background-image: url('../../images/form.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
