html, body {
    height: 100%; /* לוודא שה-GLOBAL תופס את כל הגובה */
    margin: 0; /* לא להוסיף מרג'ין */
}

.background-container {
    position: relative;
    overflow: hidden;
    background-image: url('../../images/form.jpg'); /* הכנס כאן את כתובת התמונה */
    background-size: cover;
    background-position: center;
    height: 100%; /* גובה 100% של ה-DOM */
    width: 100%; /* רוחב 100% של ה-DOM */
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(10px); /* טשטוש * */
    z-index: 1; /* לוודא שזה מתחת לתוכן */
}
