.public-recipes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.public-showVert {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 15vw;
    height: 80%;
    left: 5%;
    top: 15%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.public-inShowVert {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        align-items: center;
}

.shows {
    color: orange;
    margin: 0 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5%;
    padding: 0;
    margin: 0;
    flex-direction: row-reverse;
}

.recipe-card {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding: 0.8%;
    padding-top: 0;
    padding-bottom: 4%;
    height: 38vh;
    width: 16vw;
    background-color: #212121;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
    margin-top: 4%;
    transition: transform 0.2s;
    cursor: pointer;
    margin-bottom: 4%;
}

.recipe-card:hover {
    transform: scale(1.005);
}

.buttons-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 1;
}

.recipe-icons {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-image {
    margin-bottom: 2%;
    width: 90% !important;
    height: auto;
}

.public-recipe-difficulty {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-right: 92%;
    margin-top: -55%;
}

.public-recipe-difficulty2 {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-right: 92%;
    margin-top: -65%;
}

.public-stars-container {
    display: flex;
    gap: 0.25rem;
    flex-direction: column; 
}

.public-star {
    color: rgba(255, 165, 0, 0.3);
    transition: all 0.3s ease;
    font-size: 16px;
}

.public-star.active {
    color: #ffa500;
    filter: drop-shadow(0 0 3px rgba(255, 165, 0, 0.5));
}

/* .difficulty-rating {
    position: absolute;
    left: 0;
    right: 30%;
    display: flex;
    justify-content: center;
    padding: 4px 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 30vh;
    top: 20%;
    left: 2%;
    z-index: 100;
}

.stars{
    display: flex;
    gap: 5px;
    margin: 0;
    margin-right: 70%;
    margin-top: 15%;
}

.public-filled-star {
    color: gold !important;
} */

.recipe-title {
    color: orange;
    top: 0 !important;
    margin-bottom: 1%;
    text-align: center;
}

.title-with-underline {
    border-bottom: 2px solid orange;
    display: inline-block;
    padding-bottom: 5px;
}


.text-field {
    margin-right: 20vw !important;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    background-color: black;
}

.text-field .MuiOutlinedInput-notchedOutline {
    border-color: #FFA500 !important;
}

.text-field:hover .MuiOutlinedInput-notchedOutline {
    border-color: #FFA500 !important;
}

.text-field.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #FFA500 !important;
}

.text-field input {
    color: orange;
}

.text-field::placeholder {
    color: orange;
}
