h1{
    font-size: 70px;
    margin-left: 27vw;
}

.input-with-icon {
    direction: rtl;
    margin-left: 18vw; 
    margin-top: 5%; 
    width: 60vw; 
    height: 15vh; 
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    position: relative; 
    display: flex; 
    align-items: center; 
    padding: 10px; 
    font-size: larger;
}

.icon-container {
    position: absolute;
    right: 78%;
    color: black;
    top: 74%;
    transform: translateY(-50%);
    cursor: pointer;
}



input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: white;
    border-radius: 10px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: orange; 
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 8px; 
    background: linear-gradient(to right, orange var(--value), white var(--value));
    border-radius: 10px; 
}

input[type="range"]::-moz-range-track {
    height: 8px; 
    background: linear-gradient(to right, orange var(--value), white var(--value));
    border-radius: 10px;
}

input[type="range"]::-ms-track {
    height: 8px;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: orange; 
    border-radius: 10px;
}

input[type="range"]::-ms-fill-upper {
    background: white;
    border-radius: 10px;
}

